html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  /* background: #131010; */
  background-color: #222;
  background-attachment: fixed;
  color: #fff;
  position: relative;
  line-height:1.8;
}

header {
  width:100%;
  text-align: right;
  position: fixed;
  /* margin-right:30px; */
  /* right: 30px; */
  padding-right:30px;
  /* left: unset; */
  /* display: inline-block; */
  background-color: #222;
}

header span{
  /* border:10px; */
  /* margin:10px; */
  padding:10px;
  margin-top:10px;
  padding-top:10px;
  display:inline-block;
}

/* h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: "Merriweather", serif;
  font-size: 5rem;
  color: #fff;
} */

article {
  padding-bottom: 40px;
}

h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 5rem;
  color: #fff;
}

h2{
  padding-top:50px;
  padding-bottom:60px;
}

a{
  text-decoration: none;
}

a:link {color:#000000;} /*未訪問のリンクの色*/
a:visited {color:#000000;} /*訪問済みのリンクの色*/

article.top {
  padding-top: 200px;
}

.summary {
  text-align: center;
}

.menu {
  text-align: center;
}

.menuList {
  /* justify-content: end; */
  justify-content: center;
  gap:20px;
  /* margin:10px; */
  text-align: center;
  padding-top: 20px;
  max-width: 900px;
  margin: auto;
  /* display: flex; */
  display: flex;
}

/* .menuimg {
  width: 250px;
  height: auto;
  margin: 10px;
} */

.menuimg {
  width: 30%;
  height: auto;
  /* margin: 10px; */
}

.menuRow{
  display: block;

}

.menuData {
  width: 400px;
  border-bottom: dotted 1px gray;
  margin: 5px;
  display: inline-block;
}

.menuCard {
  /* border: 4px solid; */
  color: black;
  border-radius: 30px;
  background-color: white;
  box-shadow: 5px 5px 10px #c8c9cc, -5px -5px 10px #ffffff;
  padding: 10px;
  margin: 20px;

  width: 40%;
  max-width: 300px;
  min-height: 400px;
  display: inline-block;
  position: relative;
  /* border: 2px solid lightcyan; */
}

.join {
  text-align: center;
}

.button {
  width: 200px;
  color: black;
  background: #fff;
  padding: 20px;
  margin-top: 50px;
  margin-bottom:200px;
  border-radius: 40px;
  /* display: inline-block; */
  display: inline-block;
}
.button:hover {
  background: #8eaced;
  transition-duration: 0.5s;
}

* {
  box-sizing: border-box;
}
